# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!alexapy

# Ignore folders.
.storage
.cloud
.google.token
.TemporaryItems
www/music
www/people
notebooks

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.homekit.state
google_calendars.yaml
entity_log.txt

# Database
*.db
*.db-shm
*.db-wal
*.token
*.conf
*.pickle
*.xml
*.log
*.log.1
*.log.fault
*.mp3
*.html

# Junck files
.DS_Store

# Cache files
.spotify-token-cache
.uuid
