# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!alexapy

# Ignore folders.
.storage
.cloud
.google.token
.TemporaryItems
AlexaPy-1.2.0.dist-info
www/music
people
notebooks

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.homekit.state

# Database
*.db
*.token
*.conf
*.pickle
*.xml
*.log
*.mp3

# Junck files
.DS_Store

# Cache files
.spotify-token-cache
.uuid
